body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f4f4f4, #eaeaea);
    text-align: center;
  }

  header {
    background-color: #b9120c;
    color: white;
    padding: 20px 0;
  }

  nav {
    background-color: #921007;
    padding: 10px 0;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 16px;
  }

  nav a:hover {
    text-decoration: underline;
  }

  .logo-marca {
    margin: 20px 0;
  }

  .logo-marca img {
    width: 150px;
  }

  h1, h2 {
    margin: 5px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  .card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    transition: transform 0.2s;
  }

  .card:hover {
    transform: scale(1.03);
  }

  .card img {
    width: 100%;
    border-radius: 10px;
  }

  .price {
    font-weight: bold;
    color: #ff0020;
    margin: 10px 0;
  }

  .btn {
    background-color: #ff0020;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .btn-voltarindex{
    border-color: #e74c3c;
    border-style: solid;
    border-radius: 10px;
    padding: 15px;
    margin-left: 20px;
    color:#e74c3c;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 25px;
}

.btn-voltarindex:hover{
    background-color:#c0392b
}

footer {
    background-color: #e74c3c;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 2rem;
}